* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse farthest-side at left top,
                                  #00549E 0px, transparent 100%)
                  #1E1E21 no-repeat;
  background-size: auto 640px;
  color: #FFF;
  font: 14px 'Fira Sans', sans-serif;
}

a {
  color: #0095DD;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#tabzilla-border {
  border-top: 2px solid #FFF;
}

#wrapper {
  margin: 0 auto;
  max-width: 960px;
}

#masthead {
  padding: 20px 0;
}

#masthead h1 {
  margin: 0;
}

.wordmark {
  /* Set dimensions to half-size for hi-DPI screens. */
  height: 84px;
  width: 155.5px;
}

#intro {
  margin-bottom: 50px;
  text-align: center;
}

#intro h2 {
  font-size: 42px;
  font-weight: 400;
  margin: 0;
}

#intro p {
  font-size: 24px;
  font-weight: 200;
  margin: 0 auto;
  max-width: 640px;
}

#intro a {
  font-weight: 300;
}

#projects h2 {
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 20px;
  text-align: center;
}

#search {
  display: block;
  margin: 10px;
}

#search span {
  position: absolute;
  top: -999999em;
  left: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#search input {
  background: #FFF;
  border: 2px solid #CCC;
  color: #000;
  padding: 15px 15px 10px;
  width: 100%;
}

.search-message {
  font-size: 24px;
  font-weight: 400;
  margin: 20px auto;
  max-width: 480px;
}

.columns {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.column.left {
  margin-right: 20px;
}

.project {
  background: linear-gradient(#EAEFF2, #D4DDE4);
  color: #424F5A;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-flex-grow: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  margin: 10px;
  width: 460px;
}

.project .stars,
.project .forks {
  float: right;
  margin-left: 5px;
}

.project h3 {
  margin: 0 0 10px;
}

.project p {
  margin: 0 0 10px;
}

.project .topBar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.project .topBar .right {
  margin-left: auto;
}

.project .keywords {
  list-style-type: none;
  margin: 0 0 -8px;
  padding: 0;
}

.project .keywords li {
  background: #ADBFCC;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin: 0 5px 8px 0;
  padding: 2px 4px;
}

.project .keywords li:hover {
  text-decoration: underline;
}

.project .keywords .show-all {
  background: none;
}

.simple-pagination ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.simple-pagination li {
  background: linear-gradient(#EAEFF2, #D4DDE4);
  color: #424F5A;
  display: inline-block;
  padding: 0;
  margin-right: 5px;
}

.simple-pagination li span,
.simple-pagination li a {
  padding: 10px;
  line-height: 26px;
}

.simple-pagination li a {
  color: #0095DD;
}

#colophon {
  background: #FFF;
  color: #424F5A;
  min-height: 150px;
  margin-top: 20px;
  text-align: center;
}

#colophon p {
  margin: 0;
  padding: 10px 0 5px;
}

.footer-logo {
  /* Set dimensions to half-size for hi-DPI screens. */
  height: 41.5px;
  width: 130px;
}

/* Recognized keyword colors */

.project .keywords li[data-keyword="python"] {
  background: #3771A3;
  color: #FFF;
}

.project .keywords li[data-keyword="less-css"] {
  background: #1D365D;
  color: #FFF;
}

.project .keywords li[data-keyword="django"] {
  background: #103E2E;
  color: #FFF;
}

.project .keywords li[data-keyword="html"],
.project .keywords li[data-keyword="html5"] {
  background: #F06529;
  color: #FFF;
}

.project .keywords li[data-keyword="javascript"] {
  background: #F0DB4F;
  color: #323330;
}

.project .keywords li[data-keyword="node"],
.project .keywords li[data-keyword="nodejs"] {
  background: #333333;
  color: #7FBD42;
}

.project .keywords li[data-keyword="css"] {
  background: #33A9DC;
  color: #FFF;
}