:root {
    --text-color: #FFF;
    --link-color: #0095DD;
    --background: radial-gradient(ellipse farthest-side at left top,
                                  #00549E 0px, transparent 100%)
                  #1E1E21;

    --project-background: linear-gradient(#EAEFF2, #D4DDE4);
    --project-text-color: #424F5A;

    --footer-background: #FFF;
    --footer-text-color: #424F5A;
}

* {
    box-sizing: border-box;
}

body {
    background: var(--background) no-repeat;
    background-size: auto 640px;
    color: var(--text-color);
    font: 14px 'Fira Sans', sans-serif;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#tabzilla-border {
    border-top: 2px solid #FFF;
}

#wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#masthead {
    padding: 20px 0;
}

#masthead h1 {
    margin: 0;
}

.wordmark {
    /* Set dimensions to half-size for hi-DPI screens. */
    height: calc(168px / 2);
    width: calc(311px / 2);
}

#intro {
    margin-bottom: 50px;
    text-align: center;
}

#intro h2 {
    font-size: 42px;
    font-weight: 400;
    margin: 0;
}

#intro p {
    font-size: 24px;
    font-weight: 200;
    margin: 0 auto;
    max-width: 640px;
}

#intro a {
    font-weight: 300;
}

#projects h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 20px;
    text-align: center;
}

.columns {
    display: flex;
    flex-flow: row wrap;
}

.column {
    flex: 1;
}

.column.left {
    margin-right: 20px;
}

.project {
    background: var(--project-background);
    color: var(--project-text-color);
    margin-bottom: 20px;
    padding: 10px;
    flex-grow: 2;
    margin: 5px 10px;
    width: 460px;
}

.project .stars,
.project .forks {
    float: right;
    margin-left: 5px;
}

.project h3 {
    margin: 0 0 10px;
}

.project p {
    margin: 0 0 10px;
}

.project .topBar {
    display: flex;
}

#colophon {
    background: var(--footer-background);
    color: var(--footer-text-color);
    height: 150px;
    margin-top: 20px;
    text-align: center;
}

#colophon p {
    margin: 0;
    padding: 10px 0 5px;
}

.footer-logo {
    /* Set dimensions to half-size for hi-DPI screens. */
    height: calc(83px / 2);
    width: calc(260px / 2);
}
