{% macro project_box(project) -%}
  <section class="project">
    <header class='topBar'>
      {% if project.link %}
        <a href="{{ project.link }}"><h3>{{ project.name }}</h3></a>
      {% else %}
        <h3>{{ project.name }}</h3>
      {% endif %}
      <div class="right">
        <div class="stars"><i class="icon-star"></i> {{ project.github.stars or 0 }}</div>
        <div class="forks"><i class="icon-fork"></i> {{ project.github.forks or 0}}</div>
      </div>
    </header>

    {% if project.description %}
      <p class="description">{{ project.description }}</p>
    {% endif %}

    {% if project.contributeJSON.keywords %}
      <ul class="keywords">
      {% for keyword in project.contributeJSON.keywords|sort %}
        <li data-keyword="{{ keyword }}">{{ keyword }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  </section>
{%- endmacro %}
